@charset "utf-8";

.card-note {
    transition: 0.8s;
}

button.deleteBtn {
    float: right;
    margin-right: 15px; 
    padding: 10px;
    border-radius: 50px;
    border: none;
    background: #FFCC00;
    box-shadow: 0px 2px 10px grey;
    transition: 0.8s !important;
}

button.deleteBtn:hover .btnIcon {
    color: white;
}