@charset "utf-8";

.card-note {
    transition: 0.8s;
    box-shadow: 0px 1px 3px grey !important;
}

button.deleteBtn {
    float: right;
    margin-right: 15px; 
    padding: 10px;
    border-radius: 50px;
    border: none;
    background: #FFCC00;
    box-shadow: 0px 1px 3px grey !important;
    transition: 0.4s !important;
    color: white !important;
}

button.deleteBtn:hover .btnIcon {
    color: white !important;
}